span{
    
    color:black;
    background-color:red;

}
h1{
    text-align: center;
    color: brown;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 300px;
}
h1:hover{
    color: gray;
}
span:hover{
    color: aqua;
}